@model qlkho.Models.Export

@{
    ViewData["Title"] = "Details";
    var i = 1;
    var km = ViewBag.exportlog as IQueryable<qlkho.Models.ExportLog>;
}

<div class="p-3 my-4">
    <a id="print" onclick="printContent('printerDiv');" class="btn btn-primary btn-circle btn-lg">
        <i class="fa-solid fa-print"></i>
    </a>
</div>

<div id="printerDiv">
    <div class="row">
        <div class="col-sm-7">
            <h3 class="mb-1">
                DNXH Sunshine An Giang
            </h3>
            <p class="mb-2">
                193, Ly Thai To Street, My Long Ward, Long Xuyen City, An Giang Province
            </p>
        </div>
    </div>
    <h2 class="text-center text-uppercase mb-3">Delivery Docket</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-2"><b>Full Name:</b> @Model.User.Username</div>
            <div class="mb-2">
                <b>Date:</b> @String.Format("{0:dd/MM/yyyy}", Model.DateCreated)
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Material Name
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in km)
            {
                if (item.ExportID == Model.ExportID)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@item.MaterialName.Name</td>
                        <td>@item.Unit.Name</td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    function printContent(el) {
        var restorepage = $('body').html();
        var printcontent = $('#' + el).clone();
        $('body').empty().html(printcontent);
        window.print();
        $('body').html(restorepage);
    }
</script>