@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<qlkho.Models.Lend>

@{
    ViewData["Title"] = "Index";
    var m = ViewBag.material as IQueryable<qlkho.Models.MaterialName>;
    var m1 = ViewBag.m as IQueryable<qlkho.Models.Material>;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lend</li>
    </ol>
</nav>

<h1>Lend List</h1>

<p>
    <a href="#" class="btn btn-primary btn-circle btn-lg" data-bs-toggle="modal" data-bs-target="#modalCreate">
        <i class="fa-solid fa-file-import"></i>
    </a>
    @{
        var session = HttpContextAccessor.HttpContext.Session;
        string jsoncart = session.GetString(qlkho.Controllers.LendsController.CARTLEND);
        if (jsoncart != null)
        {
            var cart = JsonConvert.DeserializeObject<List<LendItem>>(jsoncart);
            var c = cart.Count;
            if (c > 0)
            {
                <a asp-action="ViewLend" class="btn btn-success btn-circle btn-lg position-relative">
                    <i class="fa-solid fa-list-ol"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        @c
                    </span>
                </a>
            }
        }
    }
</p>

<div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center mb-2">
                    <span class="fw-bold fs-3" style="color:#7fad39">Lend</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <form asp-action="AddToLend">
                        <div class="form-group">
                            <label class="control-label">Material Name</label>
                            <select name="MaterialNameID" class="form-control">
                                <option>--Select--</option>
                                @foreach (var item in m)
                                {
                                    if (item.Count > 0)
                                    {
                                        int c = 0;
                                        <option value="@item.MaterialNameID">
                                            @foreach (var item1 in m1)
                                            {
                                                if (item1.MaterialNameID == item.MaterialNameID)
                                                {
                                                    c++;
                                                }
                                            }
                                            @item.Name (@c)
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Unit</label>
                            <select name="UnitID" class="form-control" asp-items="ViewBag.UnitID"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label mb-1">Quantity</label>
                            <input type="number" name="Quantity" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Import" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Organization Name
            </th>
            <th>
                User
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.LendID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
