@model IEnumerable<qlkho.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expiry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialName.MaterialNameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expiry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaterialID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaterialID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaterialID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
